altair==5.1.1
numpy==1.26.0
pandas==2.1.1
streamlit==1.27.1
matplotlib==3.8.0
plotly==5.17.0
folium
streamlit-folium
plotly.express
geopandas
geojson
seaborn
requests
git+https://github.com/edgi-govdata-archiving/ECHO_modules